---
layout: default
title: Home
---

<div class="post-grid">
  {% for post in site.posts %}
    {% if site.data.virtual-photography[post.slug] and site.data.virtual-photography[post.slug][post.card-image] %}
      <article class="grid-item">
        <a href="{{ site.github.url }}{{ post.url }}">
          <div class="featured-post" style="background-image:url({{ site.data.virtual-photography[post.slug][post.card-image].thumbnail-link }}); background-position: right 0px bottom {{post.card-offset}}%;">
            <h2><span>{{ post.title }}</span></h2>
          </div>
        </a>
      </article>
    {% endif %}
  {% endfor %}
</div>
